body {
    background: rgb(212, 209, 209);
}

.head_title {
 
    position: relative;
 
    margin-top: 100px;
    text-align: center;
    padding-bottom: 20px;
   
    color : rgb(56, 53, 53);
    font-family: 'Courier New' ;
    font-size: 40px;
    text-shadow: 3px 2px rgb(44, 75, 75);
    text-decoration: overline;
   
}
.log {
    margin-top: 50px;
    background: grey; 
    
    text-align: center;
}
.log>li{
    
    display: inline;
    padding-right: 40px;
    color: rgb(97, 63, 67);
    text-shadow: 1px 2px rgb(255, 255, 255);
    font-family: 'Courier New' ;
   
}